/* For everyting not already specified */
* {
    font-famil y: 'Montserrat', sans-serif;
    /*background: white;*/
}

/* Title and Logo of Webpage */

h1 {
    width: 100%;
    height: 5%;
    font-family: 'Paytone One', sans-serif;
    font-size: 35px;
}

#logo {
    width: 10%;
    height: 10%;
}

/* Tracker at the top of webpage */

#tracker {
    height: 5%;
    width:100%;
}


.trackerheader{
    text-align: center;
    /*padding-bottom: 15px;
    padding-left: 150px;
    padding-right: 90px;*/
    margin-left: 25%;
    margin-right: 25%;
    font-size: 20px;
    border: none;
}

.trackerval{
    height: 5%;
    width:33.3%;
    color: blue;
    font-size: 32px;
    text-align: center;
    /*padding-left: 150px;
    padding-right: 90px;*/
    border: none;
}

#moneysign {
    color: green
}

/*Chart*/
.data-viz{
    display: flex;
    justify-content: center;
}
.data-viz div{
    flex: 1;
    justify-content: space-around;
    text-align: center;
}
.data-viz svg{
    height: 75%;
    width: 75%;
}

.viz-desc {
    font-size: medium;
}
/* Bar */

#x-axis {
    stroke: black;
    stroke-width:2;
}
#y-axis {
    stroke: black;
    stroke-width:2; 
}

.dbar {
    width: 10%;
    fill: lightskyblue;
}

.wbar {
    width: 10%; 
    fill: slateblue;
}



/* Pie */

#pie {
    fill: lightskyblue;
}

.legend {
    fill:lightgray;
}

.dingusIcon {
    fill: lightskyblue;
}

.widgetIcon {
    fill: slateblue;
}
/*Table below charts */
#OHTable {
    border: 2px solid black;
    width:70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#graycol {
    background-color: lightgray;;
}

#OHTitle {
    font-size: 11px;
    margin-bottom:-10px;
}

.OHHeader {
    border: 2px solid black;
}

.OHVal {
    border: 2px solid black;
    font-size: 15px;
    font-weight: 100;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
   
}

.OHTable th, td {
    border: 2px solid black;
}

#OHFoot {
    border: 2px solid black;
}


/* Order Form under table */
#orderformdetails {
    margin-top: 5%;
    font-size: 17px;
    margin-left: 1%;
    border: none;
    margin-bottom: 5%;
}


#orderformdetails fieldset {
    border: none;
}
#orderformdetails input {
    margin-bottom: 20px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

#orderformdetails input, button {
    height: 2%;
    width: 10%
}

.button-success,
.button-error {
    font-size: 13px;
    margin-top: 15px;
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); 
}

.button-error {
    background: rgb(202, 60, 60); 
}


